#imagenGif{
    margin-top: -70px;
    margin-left: 500px;   
}
.banner-directores{
    height: 390px;
}
.directores{
    margin-top: 60px;
}
.caja-peliculas{
    background-color: black;
    height: 350px;
    width: auto;
}
.tituloCriticas{
    padding-top: 60px;
    margin-left: 160px;
    color: rgb(240, 232, 232);  
    font-weight: 500; 
}
.imagen-criticas{
    margin-top: 50px; 
    margin-left: 80px; 
}
.imagen-critica{
    display: flex;
    flex-direction: row;
}
.imagenTapa{
    margin-left: 250px; 
}
h3, #titulo-critica{
    color: white;
}
h5, #subtitulo-critica{
    font-weight: 500;
    color: white;
    opacity: 0.8;
}
.info-critica{
    display: flex;
    display: block;
    margin-left: 90px;
    padding-right: 80px;
}
.spanParrafo{
    color: #0014FF;
    margin-left: 0px;
}
.parrafo-critica{
    margin-left: 90px;
    margin-top: -25.5px;
    color: rgb(240, 232, 232);
    opacity: 0.7;
    
}