/* INICIO BANNER */
.banner{
    margin-top: 100px;
}
.ms-n1{
    margin-left: -200px;
}
.me-n1{
    margin-right: -200px;
}
/* FIN BANNER */

.slide-content{
    color: #f2e9d6;
    display: flex;
    margin-top: 50px;
}
.card-wrapper{
    display: flex;
    align-items: center;
}
.titulos{
    background-color: black;
    color: rgb(245, 234, 234);
    width: 4000px;
    padding: 40px;
    margin-left: 0;
    margin-top: 60px;
}
h3{
    font-weight: 700;
}
.swiper-slide{
    flex-shrink: 0;
    width: 100%;
    height: 5%;
    position: relative;
    transition-property: transform;
}
.swiper-navBtn{
    color: #8d96f4;
    transition: color 0.3s ease;
}
.swiper {
    width: 100%;
    height: 20%;
  }
.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-navBtn:hover{
    color: #0014FF;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
    font-weight: 800;
    margin-top: 80px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-paginacion-bullet{
    background-color: #cdd0ef;
}
.swiper-paginacion-bullet-active{
    background-color: #0014FF;
}
