@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=PT+Sans&family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=PT+Sans&family=Rubik+Distressed&display=swap');

body{
    display: flex;
    font-family: 'Montserrat';
    font-weight: 400;
}

#fotoGaby{
    margin-left: 80px;
    border-radius: 160px;
}


h2{
    text-align: center;
    padding-top: 20px;
}

hr{
    color: rgb(9, 9, 9); 
    background-color: rgb(37, 27, 3); 
    width:90%; 
    height: 0.15%;
    border: 15px;
}

h3{
    margin-top: 55px;
}

a{
    text-decoration: none;
    color: black;
}

.icon{
    text-align: start;
    margin-left: 110px;
    margin-right: 2px;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}

p{
    margin-left: 50px;
    line-height: 40px;
    font-size: 15px;
}

.alineado{
    text-align: center;
    margin-top: 80px;
    
}

.parrafoAside{
    text-align: left;
    margin-bottom: 40px;
    margin-left: 110px;
}

#parrafoContacto{
    margin-top: 40px;
}

.contenedorIzquierdo{
    width: 30%;
}

.contenedorDerecho{
    background-color: rgb(247, 202, 70);
}

.itemsDerecho{
    margin-left: 50px;
    margin-right: 50px;
}

#fotoLinea{
    margin-left: 250px;
}

h1{
    text-transform: uppercase;
    text-align: center;
    justify-content: right;
    margin-top: 80px;
    font-weight: 600;
}


li{
    font-size: 15px;
    line-height: 30px;
}

.strong{
    list-style-type: none;   
}

.link{
    color: rgb(29, 29, 107);
}

.educacion{
    line-height: 25px;
}

.experiencia{
    line-height: 30px;
}

